{% extends "base.html" %}

{% block content %}
  <style>
    .form-group label[for=id_new_password2] {
      padding-right: 47px;
    }
  </style>
    {% if validlink %}
        <h2>Įveskite naują slaptažodį ir pakartokite</h2>
        <form action="" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1">Naujas slaptažodis:</label>
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label for="id_new_password2">Patvirtinkite:</label>
                {{ sform.new_password2.errors }}
                {{ form.new_password2 }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Pakeisti slaptažodį" />
            </div>
        </form>
    {% else %}
        <h1>Nepavyko pakeisti slaptažodžio</h1>
        <p>Slaptažodžio pakeitimo nuoroda negaliojanti. Prašome inicijuoti slaptažodžio keitimą iš naujo.</p>
    {% endif %}
{% endblock %}
