{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>Užsakymų sarašas</h1>
    {% if uzsakymas_list %}
      <ul class="list-group">
        {% for a in uzsakymas_list %}
          <li class="list-group-item">
            <a href="{{a.id}}">
              {{a.automobilis_id.automobilio_modelis_id}} - {{a.automobilis_id.klientas}}, {{a.automobilis_id.valstybinis_nr}}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nėra užsakymų</p>
    {% endif %}
  </div>
  <div class="container puslapiai">
    <nav aria-label="...">
      <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; pirmas</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">atgal</a>
          </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
          </span>
        </li>

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">pirmyn</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
