{% extends "base.html" %}
{% block content %}

    <h1>Užsakymo Nr. {{uzsakymo_eilute.id}}</h1>
    {% if uzsakymo_eilute %}
        <p><strong>Užsakymas:</strong>
            {% for a in uzsakymo_eilute.uzsakymas_id.uzsakymo_eilute_set.all %}
                {{ a.paslauga_id }},
            {% endfor %}
        </p>
    {% else %}
        <p><strong>Užsakymas:</strong> užsakymas nerastas</p>
    {% endif %}
    <p><strong>Užsakovas:</strong> {{uzsakymo_eilute.uzsakymas_id.automobilis_id.klientas}}</p>
    <p><strong>Užsakymo data:</strong> {{uzsakymo_eilute.uzsakymas_id.data|date:"Y-d-m"}}</p>
    <p><strong>Valstybinis Nr.:</strong> {{uzsakymo_eilute.uzsakymas_id.automobilis_id.valstybinis_nr}}</p>
    <p><strong>Automobilio marke/modelis:</strong> {{uzsakymo_eilute.uzsakymas_id.automobilis_id.automobilio_modelis_id.marke}}/{{uzsakymo_eilute.uzsakymas_id.automobilis_id.automobilio_modelis_id.modelis}}</p>
    <p><strong>VIN:</strong> {{uzsakymo_eilute.uzsakymas_id.automobilis_id.vin_kodas}}<p>
    {% for a in uzsakymo_eilute.uzsakymas_id.uzsakymo_eilute_set.all %}
        <hr>
        <p class="{% if a.status == 't' %}text-success{% elif a.status == 'v' %}text-warning{% elif a.status == 'a' %}text-danger{% else %}text-success{% endif %}">
            {{ a.get_status_display }}
        </p>
    {% endfor %}

{% endblock %}